body {
    background: #ccc;
}
div#content {
    display: grid;
    grid-template-rows: auto 10%;
    main {
        align-self: center;
        justify-self: center;
    }
    div > form {
        display: flex;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2fr 1fr;
        > div {
            border: 1px solid #000;
        }
    }
}
